@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFAF6;
  --foreground: #1C1412;
}

html, body {
  height: 100%;
  background: #FDFAF6;
  color: #1C1412;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
